.navbar {
    background-color: #2b3134;
}

.navbar > div {
    width: 20%;
}

.balanceContainer {
    cursor: pointer;
    color: white;
    text-align: center;
    font-size: 16px;
}

.balanceContainer > span {
    font-size: 18px;
    font-weight: 400;
}
