.buttonContainer {
    cursor: pointer;
}

.buttonContainer:hover {
    background-color: #E5F0FF !important;
}

.plus {
    transition: transform 1s;
}

.plus:hover {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
