.transactionModal {
    z-index: 1 !important;
    height: 25rem;
    margin: auto !important;
}

.transactionModalBody {
    height: 16rem;
}

.recurringTransactionModal {
    z-index: 1 !important;
    height: 31rem;
    margin: auto !important;
}

.recurringTransactionModalBody {
    height: 22rem;
}

.categoryModalWrapper {
    margin: auto !important;
    max-height: 23rem;
}

.categoryDeleteConfirmationModalWrapper {
    margin: auto !important;
    max-height: 9rem;
}

.categoryModalLoader {
    z-index: 2 !important;
}
