.walletItem {
    user-select: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap !important;
}

.walletItem:hover {
    background-color: #f5faff !important;
}

.defaultLabel {
    margin-top: .05rem !important;
    margin-left: .05rem !important;
}
